<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>
</head>
<body>
    options:
        build Resume
            Enter details
            Choose business applying for
            Choose visual template
            export in various file formats
        update Resume
            extract details from old resume
            Choose business applying for
            Choose visual template
            export in various file formats
        Match resumes
            choose job description 
            rank resumes relative to the job description
            recommend keywords to search for in linkedin
    
</body>
</html>