<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="../style/style.css" />
    <title>Demo Page</title>
  </head>
  <body class="container mx-auto">
    <a href="/app">App</a> | <a href="/login">Login</a> |
    <a href="/register">Register</a>
    <%- include(page) %>
  </body>
</html>
