<div class="mx-auto p-5 m-5 border shadow">
  <form hx-post="/login" hx-target="body" hx-swap="outerHTML">
    <div class="form-group">
      <label>Email Address</label>
      <input type="email" name="email" value="joe@blow.com" />
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" value="password" />
    </div>
    <button class="btn">Submit</button>
    <button class="btn btn-primary" hx-get="/register">Register</button>
  </form>
</div>
